<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Title</key>
    <string>Surge 配置</string>

    <key>StringsTable</key>
    <string>Root</string>

    <key>PreferenceSpecifiers</key>
    <array>
        <dict>
            <key>Type</key>
            <string>PSGroupSpecifier</string>
            <key>Title</key>
            <string>API 设置</string>
            <key>FooterText</key>
            <string>使用说明：
Surge - 主页底部(更多设置) - 远程控制 - HTTP API &amp; Web 面板
打开HTTP API
端口：4～5位数(可默认)
密码：随便填(最好都是小写字母)

或者编辑模式手动输入：
[General]
http-api = 密码@127.0.0.1:端口

设置好了后，在上方填入。

↓↓↓

终端命令用法(仅输入英文)：
surgectl direct   切换直连模式
surgectl rule     切换规则模式
surgectl proxy    切换全局代理
surgectl status   查看当前模式</string>
        </dict>

        <dict>
            <key>Type</key>
            <string>PSTextFieldSpecifier</string>
            <key>Title</key>
            <string>端口</string>
            <key>Key</key>
            <string>port</string>
            <key>DefaultValue</key>
            <string>1836</string>
            <key>KeyboardType</key>
            <string>NumbersAndPunctuation</string>
            <key>AutocapitalizationType</key>
            <string>None</string>
            <key>AutocorrectionType</key>
            <string>No</string>
        </dict>

        <dict>
            <key>Type</key>
            <string>PSTextFieldSpecifier</string>
            <key>Title</key>
            <string>密码</string>
            <key>Key</key>
            <string>key</string>
            <key>DefaultValue</key>
            <string>crctdd</string>
            <key>IsSecure</key>
            <true/>
            <key>AutocapitalizationType</key>
            <string>None</string>
            <key>AutocorrectionType</key>
            <string>No</string>
        </dict>

        <dict>
            <key>Type</key>
            <string>PSGroupSpecifier</string>
            <key>FooterText</key>
            <string>Developed by RrrankkK</string>
        </dict>
    </array>
</dict>
</plist>
