<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>cell</key>
            <string>PSGroupSpecifier</string>
            <key>label</key>
            <string>API 设置</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSEditTextCell</string>
            <key>defaults</key>
            <string>com.crctdd.surgectl</string>
            <key>key</key>
            <string>port</string>
            <key>label</key>
            <string>端口</string>
            <key>default</key>
            <string>1836</string>
            <key>keyboard</key>
            <string>numbersAndPunctuation</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSEditTextCell</string>
            <key>defaults</key>
            <string>com.crctdd.surgectl</string>
            <key>key</key>
            <string>key</string>
            <key>label</key>
            <string>密码</string>
            <key>default</key>
            <string>crctdd</string>
            <key>isSecureTextEntry</key>
            <true/>
        </dict>

        <dict>
            <key>cell</key>
            <string>PSGroupSpecifier</string>
            <key>label</key>
            <string>使用说明</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>label</key>
            <string>使用说明</string>
            <key>action</key>
            <string>showInstructions</string>
        </dict>

        <dict>
            <key>cell</key>
            <string>PSGroupSpecifier</string>
            <key>footerText</key>
            <string>Developed by RrrankkK</string>
            <key>footerAlignment</key>
            <integer>1</integer>
        </dict>
    </array>
    <key>title</key>
    <string>Surge 配置</string>
</dict>
</plist>
